#ang {
  color: rgb(199, 139, 255);
  margin: 10px;
  cursor: pointer;
}
#ang:hover {
  color: rgb(181, 101, 255);
}
#tail {
  margin: 10px;
  color: rgb(103, 199, 255);
  cursor: pointer;
}

#tail:hover {
  color: rgb(31, 173, 255);
}

#profile{
  background: rgb(5, 100, 163);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
  
}

#profile:hover{
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 0 black;
}