<nav id="header" class="bg-gray-800 fixed w-screen top-0">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 bg-[#eee] text-gray-950 hover:bg-gray-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
          ng-click="mobileMenuToggle()"
        >
          Menu
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <a class="title flex shrink-0 items-center" href="#!/"
          >AngularJS & Tailwind</a
        >

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              ng-repeat="item in menus"
              href="{{item.link}}"
              class="rounded-md bg-[#eee0] hover:bg-[#14487291] border border-[#eee] px-3 py-2 text-sm font-medium text-white"
              aria-current="page"
              >{{item.title}}</a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button
              type="button"
              class="relative flex rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
              ng-click="changeNotify()"
            >
              <img
                class="size-8 rounded-full"
                src="../../../assets/images/img5.jpg"
                alt=""
              />
            </button>
          </div>

          <div
            class="absolute right-0 z-10 mt-4 w-48 origin-top-right rounded-md bg-[#ffffff2c] py-1 shadow-lg ring-1 ring-black/5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            ng-class="{'hidden': !isNotifyMessage}"
          >
            <!-- Active: "bg-gray-100 outline-none", Not Active: "" -->
            <button
              ng-repeat="item in notification"
              class="block px-4 py-2 text-sm text-[#eee] w-full hover:bg-[#0000006b]"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0"
              ng-click="item.action(item.id)"
            >
              {{item.title}}
            </button>
          </div>
        </div>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button
              type="button"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
              ng-click="changeMenu()"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img
                class="size-8 rounded-full"
                src="../../../assets/images/img3.jpg"
                alt=""
              />
            </button>
          </div>

          <div
            class="absolute right-0 z-10 mt-4 w-48 origin-top-right rounded-md bg-[#000000b2] border border-[#333] py-1 shadow-lg ring-1 ring-black/5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            ng-class="{'hidden': !isMobileMenuOpen}"
          >
            <!-- Active: "bg-gray-100 outline-none", Not Active: "" -->
            <a
              ng-repeat="item in setting"
              href="{{item.link}}"
              class="nav-mobile block px-4 py-2 text-sm text-[#eee]"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0"
              >{{item.title}}</a
            >
            <button class="nav-mobile block text-lg font-bold text-[#ff1515]">
              Sign out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden mt-4" id="mobile-menu" ng-class="{'hidden':mobileMenu}">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        ng-repeat="item in menus"
        href="{{item.link}}"
        class="block rounded-md bg-gray-900 hover:bg-gray-700 px-3 py-2 text-base font-medium text-white"
        aria-current="page"
        >{{item.title}}</a
      >
    </div>
  </div>
</nav>
