<div class="app-container bg-slate-700">
  <div class="app-container-title">Contact Page</div>
  <div class="app-container-content">
    <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6  gap-4">
      <!-- Add content for each grid item here -->
      <div class="bg-slate-500 text-white p-4">Item 1</div>
      <div class="bg-slate-500 text-white p-4">Item 2</div>
      <div class="bg-slate-500 text-white p-4">Item 3</div>
      <div class="bg-slate-500 text-white p-4">Item 4</div>
      <div class="bg-slate-500 text-white p-4">Item 5</div>
      <div class="bg-slate-500 text-white p-4">Item 6</div>
      <div class="bg-slate-500 text-white p-4">Item 7</div>
      <div class="bg-slate-500 text-white p-4">Item 8</div>
      <div class="bg-slate-500 text-white p-4">Item 9</div>
      <div class="bg-slate-500 text-white p-4">Item 10</div>
      <div class="bg-slate-500 text-white p-4">Item 11</div>
      <div class="bg-slate-500 text-white p-4">Item 12</div>
      <div class="bg-slate-500 text-white p-4">Item 13</div>
      <div class="bg-slate-500 text-white p-4">Item 14</div>
      <div class="bg-slate-500 text-white p-4">Item 15</div>
      <div class="bg-slate-500 text-white p-4">Item 16</div>
      <div class="bg-slate-500 text-white p-4">Item 17</div>
      <div class="bg-slate-500 text-white p-4">Item 18</div>
      <div class="bg-slate-500 text-white p-4">Item 19</div>
    </div>

    <div class="flex flex-wrap gap-4">
      <!-- Column 1 -->
      <div class="flex-1 p-4 bg-slate-950 text-[#eefffa]">Item 1</div>
      <div class="flex-1 p-4 bg-slate-950 text-[#eefffa]">Item 1</div>
      <div class="flex-1 p-4 bg-slate-950 text-[#eefffa]">Item 1</div>
      <div class="flex-1 p-4 bg-slate-950 text-[#eefffa]">Item 1</div>
      <div class="flex-1 p-4 bg-slate-950 text-[#eefffa]">Item 1</div>
      <div class="flex-1 p-4 bg-slate-950 text-[#eefffa]">Item 1</div>
    </div>
  </div>

    <div class="app-container-footer">
      <button
        ng-click="ChangeContent('Save')"
        class="text-gray-100 px-6 hover:bg-yellow-500 m-4 rounded-full text-lg font-semibold transition duration-300"
      >
        Save
      </button>
      <button
        ng-click="ChangeContent('Cancel')"
        class="text-gray-100 px-6 hover:bg-yellow-500 m-4 rounded-full text-lg font-semibold transition duration-300"
      >
        Cancel
      </button>
      <button
        ng-click="ChangeContent('Delete')"
        class="text-gray-100 px-6 hover:bg-yellow-500 m-4 rounded-full text-lg font-semibold transition duration-300"
      >
        Delete
      </button>
      <button
        ng-click="ChangeContent('Submit')"
        class="text-gray-100 px-6 hover:bg-yellow-500 m-4 rounded-full text-lg font-semibold transition duration-300"
      >
        Submit
      </button>
      <button
        ng-click="ChangeContent('Controller')"
        class="text-gray-100 px-6 hover:bg-yellow-500 m-4 rounded-full text-lg font-semibold transition duration-300"
      >
        Controller
      </button>
    </div>
  </div>
</div>
