<style>
  .app-flex-grow {
    display: flex;
    gap: 10px;
  }
  .app-flex-grow-item {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .app-grow-1 {
    flex-grow: 1;
  }
  .app-grow-2 {
    flex-grow: 2;
  }
  .app-grow-3 {
    flex-grow: 3;
  }
  .app-grow-4 {
    flex-grow: 4;
  }
</style>
<div class="text-center">
  <h1 class="text-3xl border bg-[#000] py-2 border-[#4e4e4e] my-1 text-center">
    Flex Grow
  </h1>
  <div class="app-flex-grow">
    <div class="app-flex-grow-item app-grow-1">item</div>
    <div class="app-flex-grow-item app-grow-2">item</div>
    <div class="app-flex-grow-item">item</div>
    <div class="app-flex-grow-item app-grow-4">item</div>
    <div class="app-flex-grow-item app-grow-3">item</div>
    <div class="app-flex-grow-item app-grow-2">item</div>
    <div class="app-flex-grow-item app-grow-1">item</div>
  </div>
</div>
